In [1]:
import pandas as pd

In [2]:
dfs = pd.read_html("https://www.warrennolan.com/baseball/2024/rpi-live")

In [3]:
df = dfs[0]

In [4]:
df.to_csv("2024-05-26-RPI-selection-nolan.csv")

In [5]:
dfs = pd.read_html("https://www.warrennolan.com/baseball/2024/sos-rpi")

In [6]:
df = dfs[0]

In [7]:
df.to_csv("2024-05-26-SOS-selection-nolan.csv")

In [17]:
dfs = pd.read_html("http://www.boydsworld.com/baseball/rpi/currentrpi.html")

In [24]:
df = dfs[1]

In [25]:
df.head()

,0,1
0,Boyd's World-> Ratings-> Pseudo-RPI's-> Curren...,"About the author, Boyd Nation"

In [11]:
df.tail()

                    Team     SOS  Rank Opp Record  Opp Win Percent
300     Prairie View A&M  0.4147   301   979-1385           0.4141
301         Alcorn State  0.4096   302   893-1265           0.4138
302        Saint Peter's  0.4073   303   993-1553           0.3903
303        Jackson State  0.4065   304   978-1387           0.4135
304  Arkansas-Pine Bluff  0.3771   305   708-1247           0.3623