In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
rpi = pd.read_csv("../2024/2024-05-26-RPI-selection-nolan.csv", index_col=False)

In [4]:
rpi.columns

Index(['Unnamed: 0', 'RPI', 'Team', 'Record', 'SOS', 'NC Rec', 'NC RPI',
       'NC SOS', 'H', 'R', 'N', 'Q1', 'Q2', 'Q3', 'Q4', 'RPI Delta'],
      dtype='object')

In [5]:
rpi_cols = [
    "RPI",
    "Record",
    "Team"
]

In [6]:
rpi = rpi.loc[:, rpi_cols]

In [7]:
rpi.head()

  RPI Record                        Team
0   1  49-11       Tennessee  SEC (22-8)
1   2  44-13      Texas A&M  SEC (19-11)
2   3  40-14        Kentucky  SEC (22-8)
3   4  42-13  North Carolina  ACC (22-8)
4   5  43-14       Arkansas  SEC (20-10)

In [8]:
temp_df = rpi["Team"].str.split(
    pat="  ",
    n=1,
    expand=True
)

In [9]:
rpi["conf_rec"] = temp_df[1]
rpi["Team"] = temp_df[0]

In [10]:
rpi = rpi.drop(["conf_rec"], axis=1)

In [11]:
rpi = rpi[rpi["RPI"] != "RPI"]

In [12]:
rpi.head(50)

   RPI Record                  Team
0    1  49-11             Tennessee
1    2  44-13             Texas A&M
2    3  40-14              Kentucky
3    4  42-13        North Carolina
4    5  43-14              Arkansas
5    6  39-15               Georgia
6    7  41-14               Clemson
7    8  42-15         Florida State
8    9  38-20           Wake Forest
9   10  42-13         Indiana State
10  11  40-17        Oklahoma State
11  12  41-15              Virginia
12  13  42-12      UC Santa Barbara
13  14  37-19              Oklahoma
14  15  33-20  North Carolina State
15  16  39-18                  Duke
16  17  44-13        Dallas Baptist
17  18  42-14          Oregon State
18  19  40-13             San Diego
19  20  38-21            Vanderbilt
21  21  40-20                   LSU
22  22  36-23        South Carolina
23  23  43-15         East Carolina
24  24  33-22               Alabama
25  25  38-21     Mississippi State
26  26  41-18         Southern Miss
27  27  43-12             UC Irvine
28  28  39-20              Nebraska
29  29  45-17        Louisiana Tech
30  30  28-27               Florida
31  31  36-21               Arizona
32  32  35-19                   UCF
33  33  27-29              Ole Miss
34  34  39-19                  UNCW
35  35  38-17          Northeastern
36  36  34-23      Coastal Carolina
37  37  33-22         West Virginia
38  38  40-18             Louisiana
39  39  33-21                   TCU
40  40  30-27                Xavier
42  41  32-23           Connecticut
43  42  34-22              Maryland
44  43  41-14            Charleston
45  44  34-23         James Madison
46  45  32-24          Kansas State
47  46  35-22                 Texas
48  47  34-19              Illinois
49  48  31-23          Georgia Tech
50  49  27-26                Auburn
51  50  40-18               Wofford

In [13]:
def make_record_list(record: str) -> list:
    rec_list = record.split("-")
    return rec_list

In [14]:
rpi["Record"] = rpi["Record"].apply(make_record_list)
rpi.head()

  RPI    Record            Team
0   1  [49, 11]       Tennessee
1   2  [44, 13]       Texas A&M
2   3  [40, 14]        Kentucky
3   4  [42, 13]  North Carolina
4   5  [43, 14]        Arkansas

In [15]:
def get_wins(record: list) -> int:
    return record[0]

def get_losses(record: list) -> int:
    return record[1]

def get_ties(record: list) -> int:
    if len(record) > 2:
        return record[2]
    else:
        return 0

In [16]:
rpi["wins"] = rpi["Record"].apply(get_wins)
rpi["losses"] = rpi["Record"].apply(get_losses)
rpi["ties"] = rpi["Record"].apply(get_ties)

rpi = rpi.drop(["Record"], axis=1)

rpi.head()

  RPI            Team wins losses ties
0   1       Tennessee   49     11    0
1   2       Texas A&M   44     13    0
2   3        Kentucky   40     14    0
3   4  North Carolina   42     13    0
4   5        Arkansas   43     14    0

In [17]:
def get_wins_ties(w, t):
    return float(w) + 0.5 * float(t)

def get_losses_ties(l, t):
    return float(l) + 0.5 * float(t)

In [18]:
rpi["wins"] = rpi.apply(lambda team: get_wins_ties(team["wins"], team["ties"]), axis=1)
rpi["losses"] = rpi.apply(lambda team: get_losses_ties(team["losses"], team["ties"]), axis=1)

rpi = rpi.drop(["ties"], axis=1)

rpi.head(50)

   RPI                  Team  wins  losses
0    1             Tennessee  49.0    11.0
1    2             Texas A&M  44.0    13.0
2    3              Kentucky  40.0    14.0
3    4        North Carolina  42.0    13.0
4    5              Arkansas  43.0    14.0
5    6               Georgia  39.0    15.0
6    7               Clemson  41.0    14.0
7    8         Florida State  42.0    15.0
8    9           Wake Forest  38.0    20.0
9   10         Indiana State  42.0    13.0
10  11        Oklahoma State  40.0    17.0
11  12              Virginia  41.0    15.0
12  13      UC Santa Barbara  42.0    12.0
13  14              Oklahoma  37.0    19.0
14  15  North Carolina State  33.0    20.0
15  16                  Duke  39.0    18.0
16  17        Dallas Baptist  44.0    13.0
17  18          Oregon State  42.0    14.0
18  19             San Diego  40.0    13.0
19  20            Vanderbilt  38.0    21.0
21  21                   LSU  40.0    20.0
22  22        South Carolina  36.0    23.0
23  23         East Carolina  43.0    15.0
24  24               Alabama  33.0    22.0
25  25     Mississippi State  38.0    21.0
26  26         Southern Miss  41.0    18.0
27  27             UC Irvine  43.0    12.0
28  28              Nebraska  39.0    20.0
29  29        Louisiana Tech  45.0    17.0
30  30               Florida  28.0    27.0
31  31               Arizona  36.0    21.0
32  32                   UCF  35.0    19.0
33  33              Ole Miss  27.0    29.0
34  34                  UNCW  39.0    19.0
35  35          Northeastern  38.0    17.0
36  36      Coastal Carolina  34.0    23.0
37  37         West Virginia  33.0    22.0
38  38             Louisiana  40.0    18.0
39  39                   TCU  33.0    21.0
40  40                Xavier  30.0    27.0
42  41           Connecticut  32.0    23.0
43  42              Maryland  34.0    22.0
44  43            Charleston  41.0    14.0
45  44         James Madison  34.0    23.0
46  45          Kansas State  32.0    24.0
47  46                 Texas  35.0    22.0
48  47              Illinois  34.0    19.0
49  48          Georgia Tech  31.0    23.0
50  49                Auburn  27.0    26.0
51  50               Wofford  40.0    18.0

In [19]:
rpi.head()

  RPI            Team  wins  losses
0   1       Tennessee  49.0    11.0
1   2       Texas A&M  44.0    13.0
2   3        Kentucky  40.0    14.0
3   4  North Carolina  42.0    13.0
4   5        Arkansas  43.0    14.0

In [20]:
sos = pd.read_csv("../2024/2024-05-26-SOS-selection-nolan.csv", index_col=False)

In [21]:
sos.head(50)

    Unnamed: 0                  Team     SOS  Rank Opp Record  Opp Win Percent
0            0               Florida  0.6079     1  1880-1064           0.6384
1            1              Ole Miss  0.6065     2  1905-1080           0.6381
2            2  North Carolina State  0.5890     3  1704-1075           0.6130
3            3                Auburn  0.5870     4  1738-1128           0.6064
4            4        South Carolina  0.5847     5  1871-1245           0.6004
5            5              Kentucky  0.5829     6  1739-1176           0.5966
6            6               Alabama  0.5824     7  1784-1168           0.6043
7            7           Wake Forest  0.5822     8  1822-1200           0.6029
8            8               Georgia  0.5778     9  1708-1171           0.5931
9            9              Oklahoma  0.5775    10  1788-1190           0.6003
10          10              Arkansas  0.5769    11  1789-1257           0.5873
11          11            Vanderbilt  0.5758    12  1865-1297           0.5898
12          12             Texas A&M  0.5741    13  1786-1264           0.5856
13          13     Mississippi State  0.5722    14  1833-1306           0.5838
14          14        North Carolina  0.5712    15  1678-1187           0.5857
15          15            Miami (FL)  0.5690    16  1735-1226           0.5860
16          16               Clemson  0.5682    17  1672-1227           0.5767
17          17                   LSU  0.5676    18  1846-1360           0.5757
18          18                Xavier  0.5670    19  1781-1209           0.5955
19          19        Boston College  0.5665    20  1617-1159           0.5825
20          20                  Duke  0.5657    21  1705-1258           0.5754
21          21      Coastal Carolina  0.5643    22  1779-1305           0.5767
22          22          Georgia Tech  0.5621    23  1589-1197           0.5704
23          23             Tennessee  0.5618    24  1797-1374           0.5666
24          24              Missouri  0.5618    25  1686-1254           0.5734
25          25         Florida State  0.5614    26  1698-1293           0.5677
26          26              Virginia  0.5596    27  1677-1286           0.5660
27          27        Oklahoma State  0.5582    28  1718-1307           0.5679
28          28                 Texas  0.5574    29  1698-1291           0.5680
29          29          Kansas State  0.5565    30  1667-1265           0.5685
30          30               Arizona  0.5556    31  1706-1263           0.5745
31          31                   TCU  0.5544    32  1599-1252           0.5609
32          32            Louisville  0.5535    33  1641-1291           0.5597
33          33            Pittsburgh  0.5525    34  1609-1245           0.5637
34          34      Georgia Southern  0.5518    35  1751-1366           0.5616
35          35               Liberty  0.5515    36  1763-1314           0.5730
36          36          Old Dominion  0.5514    37  1695-1324           0.5614
37          37              Nebraska  0.5501    38  1694-1314           0.5630
38          38               Indiana  0.5491    39  1690-1323           0.5609
39          39            Texas Tech  0.5489    40  1718-1349           0.5602
40          40                   UCF  0.5482    41  1594-1258           0.5588
41          41         James Madison  0.5479    42  1671-1308           0.5608
42          42         West Virginia  0.5467    43  1592-1296           0.5512
43          43                Baylor  0.5463    44  1573-1254           0.5563
44          44                   USC  0.5460    45  1729-1354           0.5607
45          45         Southern Miss  0.5453    46  1750-1417           0.5525
46          46           Connecticut  0.5450    47  1593-1248           0.5607
47          47        Michigan State  0.5449    48  1502-1165           0.5631
48          48            Ohio State  0.5438    49  1605-1301           0.5523
49          49         South Alabama  0.5427    50  1667-1341           0.5541

In [22]:
def get_opp_record_list(opp_record: str) -> list:
    return opp_record.split("-")

In [23]:
sos["Opp Record"] = sos["Opp Record"].apply(get_opp_record_list)

In [24]:
def get_opp_wins(opp_record: list) -> float:
    return float(opp_record[0])

def get_opp_losses(opp_record: list) -> float:
    return float(opp_record[1])

In [25]:
sos["opp_wins"] = sos["Opp Record"].apply(get_opp_wins)
sos["opp_losses"] = sos["Opp Record"].apply(get_opp_losses)

sos = sos.drop(["Unnamed: 0", "Opp Record"], axis=1)
sos.head(50)

                    Team     SOS  Rank  Opp Win Percent  opp_wins  opp_losses
0                Florida  0.6079     1           0.6384    1880.0      1064.0
1               Ole Miss  0.6065     2           0.6381    1905.0      1080.0
2   North Carolina State  0.5890     3           0.6130    1704.0      1075.0
3                 Auburn  0.5870     4           0.6064    1738.0      1128.0
4         South Carolina  0.5847     5           0.6004    1871.0      1245.0
5               Kentucky  0.5829     6           0.5966    1739.0      1176.0
6                Alabama  0.5824     7           0.6043    1784.0      1168.0
7            Wake Forest  0.5822     8           0.6029    1822.0      1200.0
8                Georgia  0.5778     9           0.5931    1708.0      1171.0
9               Oklahoma  0.5775    10           0.6003    1788.0      1190.0
10              Arkansas  0.5769    11           0.5873    1789.0      1257.0
11            Vanderbilt  0.5758    12           0.5898    1865.0      1297.0
12             Texas A&M  0.5741    13           0.5856    1786.0      1264.0
13     Mississippi State  0.5722    14           0.5838    1833.0      1306.0
14        North Carolina  0.5712    15           0.5857    1678.0      1187.0
15            Miami (FL)  0.5690    16           0.5860    1735.0      1226.0
16               Clemson  0.5682    17           0.5767    1672.0      1227.0
17                   LSU  0.5676    18           0.5757    1846.0      1360.0
18                Xavier  0.5670    19           0.5955    1781.0      1209.0
19        Boston College  0.5665    20           0.5825    1617.0      1159.0
20                  Duke  0.5657    21           0.5754    1705.0      1258.0
21      Coastal Carolina  0.5643    22           0.5767    1779.0      1305.0
22          Georgia Tech  0.5621    23           0.5704    1589.0      1197.0
23             Tennessee  0.5618    24           0.5666    1797.0      1374.0
24              Missouri  0.5618    25           0.5734    1686.0      1254.0
25         Florida State  0.5614    26           0.5677    1698.0      1293.0
26              Virginia  0.5596    27           0.5660    1677.0      1286.0
27        Oklahoma State  0.5582    28           0.5679    1718.0      1307.0
28                 Texas  0.5574    29           0.5680    1698.0      1291.0
29          Kansas State  0.5565    30           0.5685    1667.0      1265.0
30               Arizona  0.5556    31           0.5745    1706.0      1263.0
31                   TCU  0.5544    32           0.5609    1599.0      1252.0
32            Louisville  0.5535    33           0.5597    1641.0      1291.0
33            Pittsburgh  0.5525    34           0.5637    1609.0      1245.0
34      Georgia Southern  0.5518    35           0.5616    1751.0      1366.0
35               Liberty  0.5515    36           0.5730    1763.0      1314.0
36          Old Dominion  0.5514    37           0.5614    1695.0      1324.0
37              Nebraska  0.5501    38           0.5630    1694.0      1314.0
38               Indiana  0.5491    39           0.5609    1690.0      1323.0
39            Texas Tech  0.5489    40           0.5602    1718.0      1349.0
40                   UCF  0.5482    41           0.5588    1594.0      1258.0
41         James Madison  0.5479    42           0.5608    1671.0      1308.0
42         West Virginia  0.5467    43           0.5512    1592.0      1296.0
43                Baylor  0.5463    44           0.5563    1573.0      1254.0
44                   USC  0.5460    45           0.5607    1729.0      1354.0
45         Southern Miss  0.5453    46           0.5525    1750.0      1417.0
46           Connecticut  0.5450    47           0.5607    1593.0      1248.0
47        Michigan State  0.5449    48           0.5631    1502.0      1165.0
48            Ohio State  0.5438    49           0.5523    1605.0      1301.0
49         South Alabama  0.5427    50           0.5541    1667.0      1341.0

In [26]:
sos["opp_opp_win_pct"] = 3 * sos["SOS"] - 2 * sos["Opp Win Percent"]

In [27]:
def make_string(value):
    return str(value)

In [28]:
rpi["Team"] = rpi["Team"].apply(make_string)
sos["Team"] = sos["Team"].apply(make_string)

In [29]:
rpi_sos = rpi.merge(sos, on="Team", how='inner')

rpi_sos.head(50)

,RPI,Team,wins,losses,SOS,Rank,Opp Win Percent,opp_wins,opp_losses,opp_opp_win_pct
0,1,Tennessee,49.0,11.0,0.5618,24,0.5666,1797.0,1374.0,0.5522
1,2,Texas A&M,44.0,13.0,0.5741,13,0.5856,1786.0,1264.0,0.5511
2,3,Kentucky,40.0,14.0,0.5829,6,0.5966,1739.0,1176.0,0.5555
3,4,North Carolina,42.0,13.0,0.5712,15,0.5857,1678.0,1187.0,0.5422
4,5,Arkansas,43.0,14.0,0.5769,11,0.5873,1789.0,1257.0,0.5561
5,6,Georgia,39.0,15.0,0.5778,9,0.5931,1708.0,1171.0,0.5472
6,7,Clemson,41.0,14.0,0.5682,17,0.5767,1672.0,1227.0,0.5512
7,8,Florida State,42.0,15.0,0.5614,26,0.5677,1698.0,1293.0,0.5488
8,9,Wake Forest,38.0,20.0,0.5822,8,0.6029,1822.0,1200.0,0.5408
9,10,Indiana State,42.0,13.0,0.5303,75,0.5404,1576.0,1340.0,0.5101
10,11,Oklahoma State,40.0,17.0,0.5582,28,0.5679,1718.0,1307.0,0.5388
11,12,Virginia,41.0,15.0,0.5596,27,0.5660,1677.0,1286.0,0.5468
12,13,UC Santa Barbara,42.0,12.0,0.5159,99,0.5222,1454.0,1330.0,0.5033
13,14,Oklahoma,37.0,19.0,0.5775,10,0.6003,1788.0,1190.0,0.5319
14,15,North Carolina State,33.0,20.0,0.5890,3,0.6130,1704.0,1075.0,0.5410
15,16,Duke,39.0,18.0,0.5657,21,0.5754,1705.0,1258.0,0.5463
16,17,Dallas Baptist,44.0,13.0,0.5279,79,0.5329,1618.0,1418.0,0.5179
17,18,Oregon State,42.0,14.0,0.5282,78,0.5366,1535.0,1325.0,0.5114
18,19,San Diego,40.0,13.0,0.5211,90,0.5275,1458.0,1306.0,0.5083
19,20,Vanderbilt,38.0,21.0,0.5758,12,0.5898,1865.0,1297.0,0.5478
20,21,LSU,40.0,20.0,0.5676,18,0.5757,1846.0,1360.0,0.5514
21,22,South Carolina,36.0,23.0,0.5847,5,0.6004,1871.0,1245.0,0.5533
22,23,East Carolina,43.0,15.0,0.5309,70,0.5323,1631.0,1433.0,0.5281
23,24,Alabama,33.0,22.0,0.5824,7,0.6043,1784.0,1168.0,0.5386
24,25,Mississippi State,38.0,21.0,0.5722,14,0.5838,1833.0,1306.0,0.5490
25,26,Southern Miss,41.0,18.0,0.5453,46,0.5525,1750.0,1417.0,0.5309
26,27,UC Irvine,43.0,12.0,0.5131,110,0.5184,1460.0,1356.0,0.5025
27,28,Nebraska,39.0,20.0,0.5501,38,0.5630,1694.0,1314.0,0.5243
28,29,Louisiana Tech,45.0,17.0,0.5270,82,0.5316,1731.0,1525.0,0.5178
29,30,Florida,28.0,27.0,0.6079,1,0.6384,1880.0,1064.0,0.5469
30,31,Arizona,36.0,21.0,0.5556,31,0.5745,1706.0,1263.0,0.5178
31,32,UCF,35.0,19.0,0.5482,41,0.5588,1594.0,1258.0,0.5270
32,33,Ole Miss,27.0,29.0,0.6065,2,0.6381,1905.0,1080.0,0.5433
33,34,UNCW,39.0,19.0,0.5373,56,0.5450,1635.0,1365.0,0.5219
34,35,Northeastern,38.0,17.0,0.5134,108,0.5141,1455.0,1375.0,0.5120
35,36,Coastal Carolina,34.0,23.0,0.5643,22,0.5767,1779.0,1305.0,0.5395
36,37,West Virginia,33.0,22.0,0.5467,43,0.5512,1592.0,1296.0,0.5377
37,38,Louisiana,40.0,18.0,0.5336,64,0.5417,1689.0,1429.0,0.5174
38,39,TCU,33.0,21.0,0.5544,32,0.5609,1599.0,1252.0,0.5414
39,40,Xavier,30.0,27.0,0.5670,19,0.5955,1781.0,1209.0,0.5100
40,41,Connecticut,32.0,23.0,0.5450,47,0.5607,1593.0,1248.0,0.5136
41,42,Maryland,34.0,22.0,0.5345,63,0.5392,1593.0,1361.0,0.5251
42,43,Charleston,41.0,14.0,0.5121,112,0.5112,1459.0,1395.0,0.5139
43,44,James Madison,34.0,23.0,0.5479,42,0.5608,1671.0,1308.0,0.5221
44,45,Kansas State,32.0,24.0,0.5565,30,0.5685,1667.0,1265.0,0.5325
45,46,Texas,35.0,22.0,0.5574,29,0.5680,1698.0,1291.0,0.5362
46,47,Illinois,34.0,19.0,0.5305,74,0.5390,1484.0,1269.0,0.5135
47,48,Georgia Tech,31.0,23.0,0.5621,23,0.5704,1589.0,1197.0,0.5455
48,49,Auburn,27.0,26.0,0.5870,4,0.6064,1738.0,1128.0,0.5482
49,50,Wofford,40.0,18.0,0.5081,120,0.5093,1507.0,1452.0,0.5057

In [30]:
rpi_sos = rpi_sos.sort_values("Team")

rpi_sos.head(50)

rpi_sos.to_csv("2024_rpi_sos.csv")